body{
    background-color: #f3ced7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.MyCards{
    align-content: center;
}
.MyCards span{
    align-items: center;
    padding: 10px;
    display: inline-flex;
    margin-top: 50px;
    margin: 50px;
    border-style: dashed;
    border-color: #e8a3a3;
    border-radius:10px;
    font-size: larger;
    background-color: #cdc6c6;
}






.search-btn:hover {
    background-color: #ff1493; /* Darker pink when hovered */
    border-color: #ff1493;
}